[submodule "mc"]
	path = mc
	url = https://github.com/gamesandthings/mc.git
[submodule "app-sm64"]
	path = app-sm64
	url = https://github.com/gamesandthings/app-sm64
[submodule "app-mari0"]
	path = app-mari0
	url = https://github.com/gamesandthings/app-mari0
[submodule "app-hl"]
	path = app-hl
	url = https://github.com/gamesandthings/app-hl.git
[submodule "app-sbwysrf"]
	path = app-sbwysrf
	url = https://github.com/gamesandthings/app-sbwysrf.git
[submodule "app-fruitninja"]
	path = app-fruitninja
	url = https://github.com/gamesandthings/app-fruitninja.git
[submodule "app-soniccd"]
	path = app-soniccd
	url = https://github.com/gamesandthings/app-soniccd.git
[submodule "app-fnf"]
	path = app-fnf
	url = https://github.com/gamesandthings/app-fnf.git
[submodule "app-doom"]
	path = app-doom
	url = https://github.com/gamesandthings/app-doom.git
[submodule "app-flash"]
	path = app-flash
	url = https://github.com/gamesandthings/app-flash.git
[submodule "app-ut"]
	path = app-ut
	url = https://github.com/gamesandthings/app-ut
[submodule "app-dt"]
	path = app-dt
	url = https://github.com/gamesandthings/app-dt
[submodule "app-pt"]
	path = app-pt
	url = https://github.com/gamesandthings/app-pt
[submodule "app-osu"]
	path = app-osu
	url = https://github.com/gamesandthings/app-osu/
[submodule "app-ejs"]
	path = app-ejs
	url = https://github.com/gamesandthings/app-ejs.git
[submodule "app-hk"]
	path = app-hk
	url = https://github.com/gamesandthings/app-hk/
[submodule "app-ks"]
	path = app-ks
	url = https://github.com/gamesandthings/app-ks
