* {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    outline: none;
    overflow: hidden;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    font-kerning: none;
    font-smooth: never;
    -webkit-font-smoothing: none;
    titlebar-area-width: 0px;
    titlebar-area-height: 0px;
    accent-color: black;
    color-scheme: dark;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#iframediv {
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    outline: none;
}

iframe {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: fixed;
    z-index: 1;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    outline: none;
    transition: all 0.25s ease-out;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
}

button {
    z-index: 4;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    border: 0;
    background-color: black;
    font-family: sans-serif;
    color: white;
    position: absolute;
}

input {
    font-size: 0;
    font-family: monospace;
}

/* Drawer */
#fps {
    z-index: 9;
    position: fixed;
    user-select: none;
    pointer-events: none;
    font-family: "MS Gothic", monospace;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 0, 255);
}

#slidymenu {
    z-index: 6;
    width: auto;
    height: 25px;
    top: 15px;
    border-radius: 25px;
    border: 0px;
    left: -150px;
    opacity: 0.25;
    background-color: black;
    font-family: sans-serif;
    color: white;
    position: fixed;
}


.material-symbols-outlined {
    height: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    display: inline-block;
    justify-content: center;
    width: 25px;
    background-color: black;
}

.material-symbols-outlined:hover {
    height: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    display: inline-block;
    justify-content: center;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}


/* Non-native ctx menu */
/*
#ctxtriangle {
    left: 10px;
    position: relative;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #00000080;
}
*/

#ctxbox {
    display: grid;
    position: absolute;
    font-size: 15px;
    width: auto;
    min-width: 150px;
    height: auto;
    background-color: #00000080;
    border-radius: 10px;
    z-index: 9;
    backdrop-filter: blur(5px);
    border-color: rgba(255, 255, 255,0.2);
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.ctxitem {
    transition: all 0.1s ease-out;
    height: 35px;
    line-height: 35px;
    width: auto;
    min-width: 150px;
    gap: 0;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-indent: 5px;

    border: 0;
    border-radius: 5px;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    white-space: nowrap;
    z-index: 10;
}
.ctxsplitter {
    border-top: #646464;
    border-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 1px;
}

.ctxitem:hover {
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 9;
}

.ctxitem:active {
    background-color: rgb(0, 128, 255);
}


#ctxmenu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    top: 50px;
    left: 50px;
}
